@import '_constants.less';

.hamburger {
	// to align hamburger with the bottom of subtitle
	font-size: @subtitleFontSize;
	line-height: @subtitleLineHeight;
	position: fixed;
	bottom: @subtitleBottom;
	right: @hamburgerRight;
	opacity: 0.7;
	z-index: 1;

	@media (min-width: 2000px) {
		bottom: 5vh;
	}
	@media (max-width: 1100px) {
		font-size: @smallSubtitleFontSize;
		line-height: @smallSubtitleLineHeight;
	}

	&:hover,
	&:focus {
		opacity: 1;
	}

	.hamburgerCharacter {
		font-size: 85px;
		vertical-align: -10px; // to align hamburgerCharacter on baseline
		@media (max-width: 1100px) {
			font-size: 75px;
			vertical-align: -8px;
		}
	}
}
