.icon-link {
	padding-top: 0;
	border: none;
	background-color: transparent;
	color: hsl(22, 55%, 90%);

	&:hover,
	&:focus {
		opacity: 0.6;
	}

	&:active {
		color: #948982;
		outline: none;
	}
}

.hamburger {
	font-family: 'texgyrepagella', serif;
	font-size: 85px;
	position: fixed;
	top: 44vw;
	right: 5vw;
	opacity: 0.5;
	z-index: 1;

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}
