.menu {
	display: flex;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 450px;
	position: fixed;
	right: 0;
	bottom: 0;

	@media (max-width: 450px)  {
		width: 100%;
	}

	background-color: hsla(209, 15%, 53%, 0.88);
	box-shadow: 2px 2px 12px 2px hsla(0, 0%, 0%, 0.12);
	border-radius: 2px;
	margin: 0;
	padding: 1.5em;
	box-sizing: border-box;

	font-size: 1.3em;
	font-family: 'Metamorphous', cursive;
	z-index: 1;

	li {
		margin: 0.7em 0;

		&.-priority-1 {
			font-size: 2em;
		}
		&.-priority-3 {
			font-size: 0.7em;
		}
	}

	@media (max-height: 700px)  {
		font-size: 1.15em;
		li {
			margin: 0.5em 0;
		}
	}
	@media (max-height: 500px)  {
		font-size: 1.3em;
		li.-priority-1 {
			font-size: 1em;
		}
		li.-priority-3 {
			display: none;
		}
	}
	@media (max-height: 250px)  {
		font-size: 1em;
	}

	@media (max-width: 350px)  {
		font-size: 1.1em;
	}

	a {
		padding: 0.7em;
		border-bottom: none;
		color: hsl(37, 69%, 91%);
		&:hover,
		&:focus {
			color: hsl(30, 70%, 82%);
		}
	}
}
