body {
	font-family: 'texgyrepagella', serif;
}

h1 {
	font-family: 'Uncial Antiqua', cursive;
	font-weight: normal;
}

h2 {
	font-family: 'Metamorphous', cursive;
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

.icon-link {
	border: none;
	font-family: 'texgyrepagella', serif;
	color: hsl(23, 14%, 67%);

	&:active {
		color: hsl(23, 7%, 50%);
		outline: none;
	}
}

.invisible-link {
	color: inherit;
	text-decoration: inherit;
	border: 0;
}

.page {
	font-size: 1.3em;
	@media (max-width: 350px)  {
		font-size: 1.2em;
	}
}
