body {
	font-family: 'texgyrepagella', serif;
}

h1 {
	font-family: 'Uncial Antiqua', cursive;
}

h2 {
	font-family: 'Metamorphous', cursive;
	margin: 0;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

.icon-link {
	border: none;
	font-family: 'texgyrepagella', serif;
	color: hsl(23, 14%, 67%);

	&:active {
		color: hsl(23, 7%, 50%);
		outline: none;
	}
}

.page {
	font-size: 1.3em;
}
