{% extends "portent/base.html" %}

{% block head %}
	<link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic|La+Belle+Aurore|IM+Fell+English+SC|Fondamento:400,400italic|Metamorphous|New+Rocker|Pirata+One|Eagle+Lake|Nova+Cut|Macondo+Swash+Caps|Uncial+Antiqua' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
	{% block content %}
		Default content
	{% endblock %}
{% endblock %}
