<div class='timeline-page page' id='timeline'>
	<div class=wrapper>
		<h1 class='-center'>Timeline</h1>

		<section>
			<div class=date>September 01</div>
			<div>
				<h2>Character Creation Deadline</h2>
				<p>Character concepts, game rules and everything else should be ready for play at the start of September.</p>
			</div>
		</section>

		<section>
			<div class=date>Sep 10 <span class=en-dash>–</span> Sep 21
				<div class='calendar prologue'>
					{% include 'elements/_calendar.html' %}
				</div>
			</div>
			<div>
				<h2>Prologue</h2>
				<div class=subheading>Play by Email and Introductory Meetings</div>
				<p>We will arrange separate meetings for most of the Camarilla and Sabbat to make introductions, answer questions, and provide last second information about the city.
				During this period, declarations and play by email will be allowed, and players can engage in limited in‐character interaction in their own groups. Establishing additional backstory with other players will be encouraged, but meetings with other players will be considered as outside the game (or having taken place in the past).</p>
			</div>
		</section>

		<section>
			<div class=date>Sep 24 <span class=en-dash>–</span> Oct 02
				<div class='calendar main-game'>
					{% include 'elements/_calendar.html' %}
				</div>
			</div>
			<div>
				<h2>Main Game</h2>
				<p>This period includes two full weekends and a week between them. Once the arrivals come to Vilnius the game begins in earnest.</p>
				<p>In the main game all bets are off, and any character is in danger of a Final Death.</p>
			</div>
		</section>

		<section>
			<div class=date>October 02</div>
			<div>
				<h2>Epilogue</h2>
				<p>At the end of our story we will round up all the events that happened and conclude the game.</p>
			</div>
		</section>
	</div>
</div>
