{% extends "_base.html" %}

{% block title %}
The Dream of Kings
{% endblock %}

{% block content %}
<div class=content-wrapper>

	<a href="#menu" class='hamburger icon-link'>≡</a>
	<ol class=menu id='menu'>
		<li class='-priority-1'><a href='#Intro'>Intro</a></li>
		<li class='-priority-3'><a href='#Dramatis-Personae'>Dramatis Personæ</a></li>
		<li class='-priority-3'><a href='#Groups'>Groups</a></li>
		<li class='-priority-1'><a href='#Timeline'>Timeline</a></li>
		<li class='-priority-3'><a href='#Play-Areas'>Play Areas</a></li>
		<li class='-priority-2'><a href='#Rules'>Rules</a></li>
		<li class='-priority-3'><a href='#Extra-Reading'>Extra Reading</a></li>
		<li class='-priority-1'><a href='#Registration'>Registration</a></li>
		<li class='-priority-2'><a href='#Contact'>Contact</a></li>
	</ol>

	{% include '_cover-page.html' %}
	{% include '_intro-page.html' %}
	{% include '_dramatis-page.html' %}
	{% include '_groups-page.html' %}
	{% include '_timeline-page.html' %}
	{% include '_areas-page.html' %}
	{% include '_rules-page.html' %}
	{% include '_extra-page.html' %}
	{% include '_registration-page.html' %}
	{% include '_contacts-page.html' %}
	{% include '_footer-page.html' %}

</div>
{% endblock %}
