{% extends "_base.html" %}

{% block title %}
The Dream of Kings
{% endblock %}

{% block content %}
<div class=content-wrapper>

	<button class='hamburger -icon-button'>≡</button>
	<ol class=menu>
		<li class='-priority-1'><a href='#Intro'>Intro</a></li>
		<li class='-priority-3'><a href='#Dramatis-Personae'>Dramatis Personæ</a></li>
		<li class='-priority-3'><a href='#Groups'>Groups</a></li>
		<li class='-priority-1'><a href='#Timeline'>Timeline</a></li>
		<li class='-priority-3'><a href='#Play-Areas'>Play Areas</a></li>
		<li class='-priority-2'><a href='#Rules'>Rules</a></li>
		<li class='-priority-3'><a href='#Extra-Reading'>Extra Reading</a></li>
		<li class='-priority-1'><a href='#Registration'>Registration</a></li>
		<li class='-priority-2'><a href='#Contact'>Contact</a></li>
	</ol>

	<div class='cover-page page'>
			<h1 class=title>the Dream<br> of Kings</h1>
			<div class=subtitle>
				<div>Vampire the Masquerade</div>
				<div>A week-long city LARP</div>
				<div>Vilnius • September 2016</div>
			</div>
			<a href='#Intro'><button class='arrow -icon-button'>▾</button></a>
	</div>

	<div class='intro-page page' id='Intro'>
		<div>
			<p>A few words, before we start.</p>

			<h2>You will not win this game.</h2>

			<p>You cannot win this game, because it is not about the end. Only the journey matters. It is not about winning at all costs, it s not about cheeting the victory out of others. It is about losing with style, about telling a story and hearing the stories of others.
			It is, in the end, a game to be played. We play, because it brings us pleasure.</p>

			<h2>Everyone owes debts that need to be collected.</h2>

			<p>Your old benefactors will come demanding to repay the favors, while your own sparse suply of owed favors will have to be called in. All debs must be honored, even if they are unofficial, or even cross-sect promises. Such is the way of the Elders. Expect to be in debt to the person you hate the most.</p>

			<h2>You will be betrayed.</h2>

			<p>You will prove a traitor yourself. Expect division, mistrust and rampant paranoia. Expect a boon to be called that forces you to act in discord with your goals, your coterie, your clan, and your sect. Expect to be branded traitor and have your loyalties called into question.</p>
		</div>

		<blockquote>
				A king is the best and worst of men.<br>
				<span>Le roi est mort, vive le roi!</span>
		</blockquote>
	</div>

	<div class='dramatispersonae-page page' id='Dramatis-Personae'>
		<h1>Dramatis Personæ</h1>

		<div>
			<h2>Camarilla</h2>

			<p>A harsh prince rules upon his domain, his clan holding the city in an iron grip. An unasailable position of an unshakable king of the city. Or so it might seem to those not in the know.</p>
			<p>Majority of the Camarilla kindred will be established locals, and will get an unfair advantage over the new arrivals.</p>
			<p class=clans>Available clans: Assamite, Brujah, Gangrel, Malkavian, Nosferatu, Toreador, Tremere, Ventrue.</p>

			<h2>Sabbat</h2>

			<p>A bishop fighting for the dream of freedom, with a small pack of like minded cainites. A supposed higher authority, aiming to destroy everything the pack built in the years before.</p>
			<p>Majority of the Sabbat cainites will be new arrivals, with certain goals for their shorter or longer term visits.</p>
			<p class=clans>Available clans: <i>antitribu</i>, Lasombra, Tzimisce.</p>

			<h2>Autarkis</h2>

			<p>There is to be an awakening.</p>
			<p>We will allow a certain number of independents to be dragged into the local events.</p>
			<p class=clans>Available clans: Gangrel, Ravnos, Caitiff, any Sabbat or Camarilla clan.</p>


			<div class=footnote>
				<p>Please note: Assamites are now a part of the Camarilla, and the Gangrel have en masse left the Ivory Tower, yet some members of these clans have elected to remain in their previous positions.</p>
			</div>
		</div>
	</div>

	<div class='groups-page page' id='Groups'>
		<div>
			<h1>Incentives for Groups</h1>

			<p>Players are encouraged to form groups. For Camarilla, the groups should be clan-based, whereas Sabbat should focus on forming packs.</p>
			<p>Every player starts as a Neonate. Every three players can nominate a single player for Ancillae position. This nomination is player based, and it is encouraged to choose more experienced players for such roles.</p>
			<p>The GM's will assign a couple Elders from the ranks of Ancillae.
			Elders will have less freedom ver their backstory and goals than others and will be able to decline the "promotion".</p>
			<p>Roogh estimate is of 9 player groups allows for 6 Neonates, 2 Ancillae and 1 Elder, but this might be subject to change.</p>
		</div>
	</div>

	<div class='timeline-page page' id='Timeline'>
		<div>
			<h1>Preliminary Timeline</h1>
			<section>
				<div class=meta>
					<h2>Character Creation Deadline</h2>
					<div class=date>Early September</div>
				</div>
				<p>Character concepts, system rules and everything else should be ready for play at the start of September.</p>
			</section>

			<section>
				<div class=meta>
					<hgroup>
						<h2>Prologue</h2>
						<h3>PBM and Introductory Meetings</h3>
					</hgroup>
					<div class=date>Mid-September</div>
				</div>
				<p>We will arrange separate meetings for most of the Camarilla and Sabbat, to make introductions, answer questions and provide last second information about the city.
				During this period, declarations and PBM will be allowed, and players will be allowed a limited in-character interraction in their own groups. Establishing additional backstory with other players will also be allowed, but all of the meetings with other players will be considered as outside of game (or having taken place in the past), especially so with the arriving characters.</p>
			</section>

			<section>
				<div class=meta>
					<h2>Main Game</h2>
					<div class=date>Late September</div>
				</div>
				<p>This period includes two full weekends and a week between them. It's on Saturday, September 24 that all of the arrivals will come to Vilnius, and the game begins in earnest.</p>
				<p>From this moment, all bets are off, and any character is in danger of a Final Death.</p>
			</section>

			<section>
				<div class=meta>
					<h2>Epilogue</h2>
					<div class=date>Early October</div>
				</div>
			</section>
		</div>
	</div>


	<div class='playareas-page page' id='Play-Areas'>
		<div>
			<h1>Play Areas</h1>

			<p>There will be a few areas designated as roleplay-only. Strive to keep everything in character at all times, and leave these areas for any Out-of-Game activity.</p>
			<p>Such areas will be revealed before the game starts, separatelly for each Sect, during the introductory meetings.</p>
			<p>All combats should be handled outside these areas.</p>
			<p>Otherwise, the official play area is the whole city of Vilnius, during the nighttime in regural weekdays <em>and</em> any time during both weekends, regardless of luminocity.</p>
		</div>
	</div>


	<div class='rules-page page' id='Rules'>
		<h1>Rules</h1>

		<div>
			<p>The rules will be simplified, adjusted for a shorter term game. The combat will prove deadlier and quicker, the intrigue will be simple and slighty choreographed in advance.</p>
			<p>Current rules status: Playtesting.</p>

			<div class=moreinfo>
				<p>More info will be given at a later date.</p>
			</div>
		</div>
	</div>

	<div class='extra-page page' id='Extra-Reading'>
		<h1>Extra Reading</h1>

		<div>
			<p>Our Game World Lore is based on V20 interpretation of Vampire the Masquerade. Recommended lore reading material, in the order of importance, ignoring all rules:</p>
			<ol>
				<li>V20: Lore Of The Clans</li>
				<li>V20: Companion</li>
				<li>Vampire the Masquerade 20th Anniversary Edition</li>
			</ol>
		</div>
	</div>

	<div class='registration-page page' id='Registration'>
		<div class=wrapper>
		<h1>Registration</h1>
		<div>
			<p>Want to join?<br>Fill in several fields below and we'll get back to you.</p>
			<p class=autarkis-note>
				Please choose Autarkis only if you <em>really</em> wanna play one as we'll allow just a small number of Independents.
			</p>
		</div>

		<form method='post'>
			<fieldset class=sect>
				I would like to join the game as a member of
				<select name='sect'>
					<option value='Camarilla' selected>Camarilla</option>
					<option value='Sabbat'>Sabbat</option>
					<option value='Independent'>Autarkis</option>
				</select>,
				<br>
				preferably as
				<input type='text' class='clan' placeholder='Gangrel or Malkavian'>.
			</fieldset>
			<fieldset>
				I
				<select name='any-side'>
					<option value='yes' selected>will agree</option>
					<option value='no'>won't agree</option>
				</select>
				to play for the other side, if necessary.
			</fieldset>
			<fieldset class=group>
				I
				<select name='group'>
					<option value='yes' selected>already have</option>
					<option value='no'>don't have</option>
				</select>
				a group of players I'm planning to be collaborating with.
			</fieldset>
			<fieldset class=comments>
				<textarea name="textarea" rows="1" placeholder='I have some additional comments.'></textarea>
			</fieldset>
			<fieldset class=contact>
				My name is <input type='text' class='name'> and you can email me at <input type='email' class='email'>.
			</fieldset>
			<button type='submit'>Sign me up</button>
		</form>
		</div>
	</div>


	<div class='contacts-page page' id='Contact'>
		<h1>Contacts</h1>
		<div class=wrapper>
		<div>
			<h2>Via email</h2>

			<span>dreamofkings.vtm@gmail.com</span>
		</div>
		<div>
			<h2>GM</h2>

			<ul>
				<li>Mirk</li>
				<li>XXIcentury</li>
				<li>...</li>
			</ul>
		</div>
		</div>
	</div>

	<div class='footer-page page'>
		<div class=credit>Created by <a href='https://github.com/pudlovskyte'>Monika Pudlovskytė</a></div>
	</div>
</div>
{% endblock %}
