.playareas-page {
	@media (orientation: landscape) {
		min-height: 105vh;
	}
	align-items: flex-start;
	background: black url('img/playareas.jpg') no-repeat;
	background-size: cover;
	color: hsl(32, 39%, 81%);

	@media (max-width: 500px) {
		background-image: none;
	}

	p {
		max-width: 20em;
	}
}
