.contacts-page {
	@contactsColor: hsl(23, 15%, 54%);
	min-height: 110vh;
	align-items: flex-start;
	background: black url('img/contacts.jpg') no-repeat;
	background-size: 100%;
	color: @contactsColor;
	font-family: 'Metamorphous', cursive;
	font-size: 1.2em;
	line-height: 1.7;



	.wrapper {
		margin-top: 39vw;
	}

	.textBlock {
		display: inline-block;
		max-width: 40%;
		vertical-align: top;
		&:first-child {
			margin-right: 10%;
		}

		@media (max-width: 1100px) {
			display: block;
			max-width: 100%;
			margin: 0 0 1em;
		}
	}

	.no-wrap {
		white-space: nowrap;
	}

	a:hover,
	a:focus {
		color: lighten(@contactsColor, 20%);
	}
}
