.extra-page {
	background-color: hsl(47, 50%, 96%);
	color: hsl(237, 16%, 21%);

	ol {
		margin-top: 1.5em;
		padding-left: 30px;
		font-size: 1.1em;
		font-style: italic;
		list-style: none;

		li {
			margin: 7px 0;
		}


		li:before {
		   content: '';
		   display: inline-block;
		   vertical-align: -6px;
		   height: 1.2em;
		   width: 1.2em;
		   background-image: url('img/ankh.png');
		   background-size: contain;
		   background-repeat: no-repeat;
		   padding-right: 0.3em;
		}
	}
}
