@import '../_mixins.less';

.groups-page {
	align-items: flex-start;
	background: hsl(224, 85%, 3%) url('img/groups.jpg') no-repeat;
	.smallWidthBackground(url('img/groups-small.jpg'));
	background-size: 100%;
	color: hsl(37, 83%, 86%);

	@media (max-width: 500px) {
		background-image: none;
	}

	.wrapper {
		margin-top: 36vw;
		@media (max-width: 500px) {
			margin-top: 0;
		}
	}

	p {
		max-width: 40em;
	}
}
