.registration-page {
	@registrationBackgroundColor: hsl(209, 12%, 48%);
	@registrationColor: hsl(30, 83%, 93%);

	background-color: @registrationBackgroundColor;
	color: @registrationColor;
	min-height: 105vh;

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 30em;
	}

	.autarkis-note {
		display: none;
	}

	h1 {
		align-self: center;
	}

	form {
		background-color: @registrationBackgroundColor;
		color: @registrationColor;
		padding: 2em 3em;
		margin: 2em -3em 0;
		border-top: 1px solid;
		font-size: 1.1em;
		font-style: italic;
	}

	fieldset {
		padding: 0;
		margin: 0 0 1em;
		border: none;
	}

	input, select, textarea {
		background: transparent;
		border: none;
		border-bottom: 1px dashed hsl(30, 0%, 82%);
		color: hsl(30, 97%, 83%);
		font-family: 'texgyrepagella', serif;
		font-size: 1em;
		font-style: italic;
		text-align-last: center; // a hack to center select and input text
		&:hover,
		&:focus {
			color: darken(hsl(30, 100%, 82%), 10%);
		}
		&::placeholder  {
			color: hsl(230, 6%, 62%);
		}
	}

	select {
		appearance: none;
	}

	textarea {
		width: 100%;
		margin-top: 1em;
		text-align-last: left;
		padding: 2px 5px;
	}

	button {
		display: block;
		background: @registrationColor;
		color: @registrationBackgroundColor;
		border: none;
		border-radius: 4px;
		margin: 2em auto 0;
		padding: 0.7em;
		font-size: 1.3em;
		font-family: 'Metamorphous', cursive;
		&:hover {
			background: darken(@registrationColor, 5%);
			box-shadow: 0px 2px 12px 2px hsla(0, 0%, 0%, 0.12);
		}
		&:active {
			background: darken(@registrationColor, 10%);
		}
	}
}
