.timeline-page {
	padding-left: 15rem;

	background-color: rgba(251, 237, 207, 0.8);
	color: #092030;

	h1 {
		margin-bottom: 80px;
	}

	h2 {
		font-size: 1.9rem;
		line-height: 1.9rem;
		margin: 0;
		//text-align: center;
		//margin-top: 1.3em;
	}

	h3 {
		margin: 3px 0;
		font-size: 1em;
	}

	.meta {
		display: flex;
		margin-left: -20rem;
	}

	.date {
		line-height: 1.9rem;
		font-size: 1.5rem;
		width: 20rem;
		order: -1;
		font-family: 'Metamorphous', cursive;
		//font-size: 1.4em;
		//font-style: italic;
		color:	 hsl(216, 14%, 61%);
		text-align: right;
		padding-right: 2.5rem;
		box-sizing: border-box;
	}

	.moreinfo {
		margin-top: 6em;
		font-style: italic;
		font-size: 1.1em;
	}
}
